:host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
    }


mat-card{
    margin: 2%;
    text-align: left;
    width: 50%;
    margin-left: 25%;
    border: 1px solid #ccc;
}

.mat-mdc-form-field {
    width: 98%;
    margin: 1%;
}
.mat-50{
    width: 48%;
    margin: 1%;
}

.div-50{
    width: 48%;
    margin: 1%;
    display: inline;
}

button{
    margin: 2px;
}
.mat-mdc-raised-button{
    width: 100%;
}

