.list-container {
    background-color: rgb(203, 220, 244);
}

.list-item-container {
    color: whitesmoke

}

.container {
    margin: 20px;
}

.mb-10 {
     margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.flex {
    display: flex;
    align-items: center;
    flex-direction: row;
}
